/* Gestión presencia */
#gestion-presencia li {
    text-wrap: nowrap;
}

#gestion-presencia div.botones {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

#gestion-presencia div.botones a {
    border: 2px solid #f0f0f0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

#gestion-presencia div.botones a:hover {
    background-color: #f0f0f07f;
    color: #0f0f0f;
    transition: background-color 0.3s, color 0.3s;
}

#gestion-presencia a {
    margin-left: 0.125rem;

    text-decoration: none;
    color: #f0f0f0;
}


/* index */
div#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
}

/* #gestion-index {
    // height: calc(100vh - 91.6px - 4em);
    height: calc(100vh - 1rem - 9em);
    max-width: calc(var(--max-width) - 20em);
    margin: auto;
} */

ul#gestion-index {
    list-style: none;
    padding-left: 0;
    gap: 1em;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#gestion-index li {
    flex-grow: 1;
    text-align: center;

    border-radius: 0.5em;
    border: 1px solid #fdd2307f;
    background-color: #fdd2303a;
    backdrop-filter: blur(2px);

    display: flex;
}


#gestion-index a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 125%;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#qr-video {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    border-radius: 1em;
}

#gestion-registro h1 { margin-top:0; }

/* pases de comida */
#gestion-pases, #gestion-registro {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

#gestion-pases h1 { margin-top: 0; }

#pases-resultado, #registro-resultado {
    background-color: var(--fondo);
    border-top: 2px solid var(--borde);

    flex-grow: 1;
}

#pases-camara, #gestion-camara {
    width: min(calc(100% - 2rem), var(--max-width));
    margin: 0 auto;
}

#pases-resultado, #registro-resultado {
    padding: 1em;
    margin-top: 1em;

    border-radius: 1em 1em 0 0;
}

#pases-resultado h2 {
    margin-top: 0;
    text-align: center;
    color: #777;
}
