{% extends 'marco.html' %}

{% block title %}Índice{% endblock title %}
{% load static %}

{% block head %}
<link href="{% static 'css/gestion.css' %}" media="all" rel="stylesheet">
{% endblock head %}

{% block content %}
<ul id="gestion-index">
    {% if user.is_staff %}<li><a href="/admin">Admin</a></li>{% endif %}
    <li><a href="{% url 'alta' %}">Registro</a></li>
    <li><a href="{% url 'pases' %}">Pases comida</a></li>
    <li><a href="{% url 'presencia' %}">Entrada/Salida</a></li>
    {% if user.is_staff %}<li><a href="{% url 'normalizacion' %}">Normalización de participantes</a></li>{% endif %}
    <li><a href="#">Consulta</a></li>
</ul>
{% endblock content %}
