{% extends 'marco.html' %}

{% block title %}Índice{% endblock title %}
{% load static %}

{% block head %}
<link rel="manifest" href="{% static 'manifest.webmanifest' %}">

<link href="{% static 'css/gestion.css' %}" media="all" rel="stylesheet">
{% endblock head %}

{% block content %}
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/sw.js");
    }
</script>

<ul id="gestion-index">
    <li><a href="{% url 'alta' %}">Registro</a></li>
    <li><a href="{% url 'pases' %}">Pases comida</a></li>
    <li><a href="{% url 'presencia' %}">Entrada/Salida</a></li>
    <li><a href="{% url 'info-participante' %}">Consulta</a></li>
    {% if user.is_staff %}<li><a href="/admin">Admin</a></li>{% endif %}
    {% if user.is_staff and true %}<li><a href="{% url 'normalizacion' %}">Normalización de participantes</a></li>{% endif %}
</ul>
{% endblock content %}
