{% extends 'marco.html' %}

{% block title %}Registro{% endblock title %}
{% load static %}

{% block head %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'js/qr-scanner.umd.min.js' %}"></script>
<link href="{% static 'css/gestion.css' %}" media="all" rel="stylesheet">
{% endblock head %}

{% block content %}
<style>
    div#content {
        max-width: 100%;
        width: 100%;
    }
</style>
<div id="gestion-registro">
    <div id="gestion-camara">
        <h1>Registro</h1>
        <video id="qr-video"></video>
    </div>

    <div id="registro-resultado">
        {% include "gestion/registro.htmx.html" %}
    </div>

    <script>
        var parado = false;

        function scan(result) {
            if (parado == true) { return 0; }
            id_persona = document.getElementById("id_persona");
            id_acreditacion = document.getElementById("id_acreditacion");
            submit = document.getElementById("form-submit");

            if (id_persona.value == "") {
                id_persona.value = result;
                parado = true;
            }
            else {
                id_acreditacion.value = result;
            }

            submit.click();
        }

        const qrScanner = new QrScanner(
            document.getElementById("qr-video"),
            result => scan(result.data),
            {
                maxScansPerSecond: 15
            }
        );

        QrScanner.listCameras();
        qrScanner.start();
        // QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

        function boton_popup() {
            document.getElementById("popup").remove();
            parado = false;
        }
    </script>
</div>
{% endblock content %}
